<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>7bits-frontend-2016</title>
        <link rel="stylesheet" href="../styles/footer.css">
    </head>
    <body>
    	<div class="footer">
    		<div class="footer_background"></div>
    		<div class="footer_link_terms">Terms and conditions</div>
    		<div class="footer_link_privacy">Privacy</div>
    		<div class="footer_links_follow">Follow</div>
    		<div class="footer_icons_fb">
    			<img src="../images/facebook.png">
    		</div>
    		<div class="footer_icons_tw">
    			<img src="../images/twitter.png">
    		</div>
    		<div class="footer_icons_inst"><img src="../images/instagram.png">
    		</div>
    	</div>
    </body>
</html>