.footer{
	position: absolute;
    top: 370%;
    left: 25%;
    width: 50%;
    height: 10%;
}
.footer_background{
	background-color: rgb(217, 217, 217);
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0%;
}
.footer_link_terms{
	position: absolute;
    left: 15%;
    font-family: "Playfair Display";
    font-size: 90%;
    bottom: 30%;
}
.footer_link_privacy{
	position: absolute;
    left: 35%;
    font-family: "Playfair Display";
    font-size: 90%;
    bottom: 30%;
}
.footer_links_follow{
	position: absolute;
    left: 80%;
    font-family: "Playfair Display";
    font-size: 90%;
    bottom: 30%;
}
.footer_icons_fb{
	position: absolute;
    left: 86%;
    bottom: 30%;
}
.footer_icons_tw{
	position: absolute;
    left: 88%;
    bottom: 30%;
}
.footer_icons_inst{
	position: absolute;
    left: 91%;
    bottom: 30%;
}